.table-wrapper{
    margin: 18px;
    padding-bottom: 12px;
    table{
    border: 1px solid #faa5a5;

    mat-icon{
        cursor: pointer;
    }
    
    .edit{
        color: #3f51b5;
    }
    
    .delete{
        color: #f44336;
    }
    
    }
}




.no-expense{
    display: flex;
    justify-content: center;
    margin: 12px;
}