.auth-container{
    display: flex;
    justify-content: center;
    height: 90vh;
    align-items: center;

    mat-form-field{
        width: 100%;
    }

    .email-input{
        width: 100%;
    }

    .glass-design{
        width: 350px;
        border-radius: 18px;
        border: 1px solid #faa5a5;
        .auth-title{
            margin: 18px;
            background: -webkit-linear-gradient(#ff7926, #150dfc);
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .login-container{
            display: flex;
            align-items: center;
            margin: 0 12px 8px 12px;
            justify-content: space-between;
            .login-button{
                width: 150px;
            }
        }

    }

    .register-box{
        width: 450px !important;
    }

    .register-container{
        display: flex;
        justify-content: space-between;
        margin: 12px;
    }
}

